@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
html, body {
  margin: 0;
  padding: 0; }

.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 600px;
  background-image: url("../img/main.jpg");
  background-size: cover; }
  .header .topNav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    padding: 0;
    list-style: none; }
    .header .topNav li {
      padding: 10px;
      display: inline; }
      .header .topNav li a {
        text-decoration: none; }
        .header .topNav li a:hover {
          text-decoration: underline; }
  .header .welcome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0; }
    .header .welcome p {
      color: white;
      margin: 0;
      text-align: center; }
    .header .welcome #line1 {
      font-family: "Open Sans", sans-serif;
      font-size: 30px; }
    .header .welcome #line2 {
      font-family: "Merriweather", serif;
      font-size: 70px; }
    .header .welcome .bar {
      height: 5px;
      width: 300px;
      margin: 5px;
      background: white; }

.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 50px;
  width: 100%;
  background: darkgrey; }
  .middle .middleNav li {
    padding: 10px;
    display: inline; }
    .middle .middleNav li a {
      text-decoration: none; }
      .middle .middleNav li a:hover {
        text-decoration: underline; }
  .middle .search {
    display: flex;
    width: 90vw;
    justify-content: space-around;
    padding-top: 40px; }
    .middle .search .search-field input[type=text] {
      width: 130px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-image: url("../img/searchicon.png");
      background-position: 5px 5px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out; }
    .middle .search .search-field input[type=text]:focus {
      width: 100%; }

.activities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto; }
  .activities .panel {
    margin: 10px; }
  .activities .panel:nth-child(1) img {
    margin-top: 10px;
    width: 100%;
    border-radius: 5px; }
  .activities .panel:nth-child(2) img {
    width: 100%;
    border-radius: 5px; }
  .activities .panel:nth-child(3) img {
    width: 100%;
    border-radius: 5px; }
  .activities .panel:nth-child(4) img {
    width: 100%;
    border-radius: 5px; }
  .activities .panel:nth-child(5) img {
    width: 100%;
    border-radius: 5px; }
  .activities .panel:nth-child(6) img {
    width: 100%;
    border-radius: 5px; }

.topNav #logo {
  font-family: "Merriweather", serif;
  font-size: 30px; }
  .topNav #logo:hover {
    color: orange; }
.topNav li {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: white; }
  .topNav li a {
    color: white; }

.middleNav li a #more {
  color: orange; }
.middleNav li {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: white; }
  .middleNav li a {
    color: white; }

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px; }

h2 {
  font-family: "Merriweather", serif;
  font-size: 40px; }

/*# sourceMappingURL=styles.css.map */
