@import "font";
@import "layout";

.topNav{
  #logo {
    font-family: $headerFont;
    font-size: 30px;
    &:hover {
      color: orange;
    }
  }
  li {
    font-family: $mainFont;
    font-size: 15px;
    color: white;
    a {
      color: white;
    }
  }
}

.middleNav {
  li a #more {
    color: orange;
  }
  li {
    font-family: $mainFont;
    font-size: 15px;
    color: white;
    a {
      color: white;
    }
  }
}



h1 {
  font-family: $mainFont;
  font-size: 20px;
}

h2 {
  font-family: $headerFont;
  font-size: 40px;
}
